/* //Las etiquetas no llevan punto */
body {
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la ventana */
    margin: 0;

}

.postal {
background-color: white; width: 525px; height: 750px;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.headerIzquierda {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoLeft {
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.logoRight {
    display: flex;
    flex-direction: column; /* Para que HTML5 y DocGus estén uno debajo del otro */
}

h3, h5 {
    margin: 0; /* Elimina margen por defecto para que esten mas cerca */
}

.headerDerecha {
    margin-left: auto; 
}

.logoDos {
    font-size: 35px;
    margin-right: 30px; 
}

.imagenSabana img {
    width: 525px;
    height: 300px;
    object-fit: cover;
}

.barra3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.barraIzq {
    display:flex
}

.icono1 {
    font-size: 35px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 20px;
}

.icono2 {
    margin-top: 10px;
    font-size: 35px;
    margin-right:5px;
    margin-left: 5px;
}

.icono3 {
    margin-top: 10px;
    font-size: 35px;
    margin-right: 20px;
    margin-left: 5px;
}

.barraDer {
    display:flex
}

.icono4 {
    margin-top: 10px;
    font-size: 35px;
    margin-right: 30px; 
}

.parra1, .parra2 {
    font-size: big;
}