/* //Las etiquetas no llevan punto */
body {
    background-color: black;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */

}

.postal {
background-color: white; width: 400px; height: 750px;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px; /* Espacio debajo del header */

}

/* Para asegurar que los elementos estén alineados en una fila */
.headerIzquierda {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-start; /* Alinea al principio */
}

/* Logo izquierdo */
.logoLeft {
    font-size: 40px;
    margin-right: 20px; /* Agrega espacio a la derecha de logoLeft */
    margin-left: 20px; /* Agrega espacio a la derecha de logoLeft */
}

/* Logo derecho */
.logoRight {
    /* Si deseas más espacio entre los elementos, agrega margin-left o utiliza flexbox */
    display: flex;
    flex-direction: column; /* Para que HTML5 y DocGus estén uno debajo del otro */
   
}

/* Asegúrate de que no haya margen extra alrededor de los encabezados */
h3, h5 {
    margin: 0; /* Elimina cualquier margen por defecto */
}

/* Si necesitas más espacio en el headerDerecha (icono de los tres puntos) */
.headerDerecha {
    margin-left: auto; /* Empuja el icono hacia la derecha */
}

.logoDos {
    font-size: 50px;
    margin-right: 30px; /* Ajusta el valor de 20px según el espacio que desees */
}

.imagenSabana img {
    width: 400px; /* Ajusta el tamaño que desees */
    height: 300px; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Opcional: Recorta si es necesario para encajar en el tamaño especificado */
}
